.songsheetitem {
  margin: 5px;
  width: 180px;
  margin-left: 15px;
}

.songsheetcard {
  width: 180px;
  height: 180px;
}
.songsheetname {
  display: inline-block;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /*加宽度width属来兼容部分浏览*/
}
.songsheet {
  width: 100%;
  margin-top: 10px;
}
