.songsheetitem {
  margin: 5px;
  width:  10vw;
  margin-left: 15px;
}
.songsheetname {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /*加宽度width属来兼容部分浏览*/
}
.songsheet {
  margin-top: 10px;
}
.songsheetdetails {
  margin-top: 10px;
}
.example {
  text-align: center;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
.pagination {
  text-align: center;
}
.songsheethead{
  height: 150px;
}
.songsheetcard{
 height: 90%;
}
.coverimg {
  width: 10%;
  float: left;
}
.detailsongheetname {
  margin-top: 20px;
  color: #1da57a;
  font-size: 20px;
  margin-bottom: 10px;
}
.songsheetdetailtag{
  margin-top: 20px;
}
.songsheetdetailtags{
  margin-right: 10px;
}
.songsheetdesp{
  height: 45px;
  overflow: hidden;
}
.detailcoverimg{
  width: 150px;
  float: left;
  height: 150px;
  margin: 10px;
}